@use "../utils" as u;

:host {
    @include u.column-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    @include u.default-text;
    align-items: center;
    #text-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        #title {
            font-size: 2.5em;
        }
        #description {
            font-size: 1.2em;
            margin-top: 10px;
        }
    }
    #black-line {
        width: 4px;
        align-self: stretch;
        background-color: black;
        flex-shrink: 0;
        border-radius: 100px;
    }
    @media(min-width: 900px) {
        img{
            width: 300px;
            border-radius: 20px;
            border: 3px solid black;
        }
    } 
    @media (max-width: 900px) {
        img{
            display: none;
        }
    }
}