@use "../utils" as u;
@mixin sidebar-font{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #555555;
}
@mixin title-font {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  font-style: normal;
  color: black;
}

#sidebar-content{
    @include u.column-flex;
    align-items: stretch;
    .sidebar-element {
        @include u.row-flex;
        text-decoration: none;
        justify-content: stretch;
        margin-bottom: 20px;
        align-items: center;
        @include sidebar-font;
        .line{
            flex-grow: 1;
            height: 50%;
            border-bottom: 2px solid grey;
            margin-left: 10px;
        }
    }
}

#sidebar-content {
    margin-top: 1em;
    @media (max-width: 500px){ 
        margin-left: 0;
        margin-right: 0;
    }
    @media (max-width: 900px){ 
        margin-left: 10px;
        margin-right: 10px;
    }
    @media (min-width: 900px){
        margin-left: 30px;
        margin-right: 30px;
    }
}

:host {
    @media (max-width: 500px) {
        display: none;
    }
    @media (min-width: 500px) and (max-width: 900px) {
        width: 150px;
    }
    @media (min-width: 900px) {
        width: 200px;
    }
    background-color: u.$lightgreen;
    @include u.column-flex;
    flex-grow: 1;
    flex-shrink: 0;
    #selfie{
        @include u.row-flex;
        align-self: center;
        margin: 10px 30px;
        img {
            border-radius: 20px;
            border: 2px solid green;
            object-fit: cover;
            max-width: 100%;
        }
    }
    #sidebar {
        align-self: stretch;
        text-align: center;
        margin-top: 20px;
        @include title-font;
    }
}