<div id="sidebar-content">
    <a class="sidebar-element" href="#intro">
        <span class="text">Home</span>
        <div class="line"></div>
    </a>
    <a class="sidebar-element" href="#about-me">
        <span class="text">About</span>
        <div class="line"></div>
    </a>
    <a class="sidebar-element" href="#projects">
        <span class="text">Projects</span>
        <div class="line"></div>
    </a>
    <a class="sidebar-element" href="#experiences">
        <span class="text">Experiences</span>
        <div class="line"></div>
    </a>
    <a class="sidebar-element" href="#awards">
        <span class="text">Awards</span>
        <div class="line"></div>
    </a>
</div>