<div id="sidebar-content">
    <div class="sidebar-element">
        <span class="text">About</span>
        <div class="line"></div>
    </div>
    <div class="sidebar-element">
        <span class="text">Achievements</span>
        <div class="line"></div>
    </div>
    <div class="sidebar-element">
        <span class="text">Experiences</span>
        <div class="line"></div>
    </div>
    <div class="sidebar-element">
        <span class="text">Resume</span>
        <div class="line"></div>
    </div>
</div>