@use "../utils" as u;
@mixin sidebar-font{
    @include u.default-text;
    color: #555555;
    font-size: 1.6em;
}

#sidebar-content{
    @include u.column-flex;
    align-items: stretch;
    .sidebar-element {
        @include u.row-flex;
        text-decoration: none;
        justify-content: stretch;
        margin-bottom: 70px;
        align-items: center;
        @include sidebar-font;
        .line{
            flex-grow: 1;
            border-bottom: 3px dashed grey ;
            margin-left: 10px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

#sidebar-content {
    margin-top: 50px;
}

:host {
    @media (max-width: 700px) {
        display: none;
    }
    @media (min-width: 700px) and (max-width: 1000px) {
        width: 300px;
        #sidebar-content {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    @media (min-width: 1000px) {
        width: 400px;
        #sidebar-content {
            padding-left: 70px;
            padding-right: 120px;
        }
    }
    background-color: u.$lightish-blue;
    @include u.column-flex;
    flex-grow: 1;
    flex-shrink: 0;
}