<div id="intro">
    <div id="intro-text">
        <span id="first">Hi! I am</span>
        <span class="big-text">Daniel Ye</span>
        <span id="third">A mathematician</span>
    </div>
    <div id="intro-pic" #imageContainer>
        <img src="/images/the_me.png" id="intro-image"/>
        <a class="social-image" id="icon-linkedin" href="https://www.linkedin.com/in/daniel-ye-b5954b215/"><img src="/images/socials/linkedin.svg"/></a>
        <a class="social-image" id="icon-github" href="https://github.com/Trentiumz"><img src="/images/socials/github.svg"/></a>
        <a class="social-image" id="icon-codeforces" href="https://codeforces.com/profile/Trentium"><img src="/images/socials/codeforces.svg"/></a>
        <a class="social-image" id="icon-codeforces" href="https://codeforces.com/profile/Trentium"><img src="/images/socials/codeforces.svg"/></a>
        <a class="social-image" id="icon-dmoj" href="https://dmoj.ca/user/Trentium"><img src="/images/socials/dmoj.svg"/></a>
    </div>
</div>

<div id="about-me" class="content-section">
    <div class="section-header">
        <span class="section-title">About Me</span>
        <span class="section-description">A first-year computer science student at the University of Waterloo who’s still chugging by</span>
    </div>

    <div id="about-me-content">
        <div class="about-section">
            <div class="about-header">
                <img src="/images/book-icon.png" alt="Book Icon" class="about-header-icon"> 
                <div class="about-header-text">
                    <span class="about-header-title">Academic Interests</span>
                    <span class="about-header-desc">A few things I'm interested in</span>
                </div>
            </div>
            <div class="section-content">
                <ul>
                    <li>Combinatorics</li>
                    <li>Abstract Algebra</li>
                    <li>Algorithms and Data Structures</li>
                    <li>Probabilistic Graph Theory</li>
                </ul>
            </div>
        </div>

        <div class="about-section">
            <div class="about-header">
                <img src="/images/rocket-icon.png" alt="Rocket Icon" class="about-header-icon"> 
                <div class="about-header-text">
                    <span class="about-header-title">Hobbies/Interests</span>
                    <span class="about-header-desc">What I do in my spare time</span>
                </div>
            </div>
            <div class="section-content">
                <ul>
                    <li>Playing Piano</li>
                    <li>Yoyo-ing</li>
                    <li>Badminton</li>
                    <li>Competitive Programming</li>
                    <li>Speedcubing</li>
                    <li>Watching Formula 1</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="content-section">
    <div class="section-header">
        <span class="section-title">Projects</span>
        <span class="section-description">Some things I've made in my free time or built with friends at a hackathon!</span>
    </div>
    <div id="projects" class="list-1-container">
        <app-achievement-card 
            title="Gradient Descent Simulator" 
            description="A visual simulation of gradient descent, an optimization technique. Created from scratch using Topological sort and the Chain Rule."
            imageUrl="/images/gradient-descent.png"
            alignment="right" />
        <app-achievement-card 
            title="Discord Emoji Bot" 
            description="A discord bot that 'bypasses' server emoji limits by adding the most-used emojis to a server and removing unused emojis. Also uses a webhook to automatically substitute emojis into messages."
            imageUrl="/images/discord-bot.png" 
            alignment="right" />
        <app-achievement-card 
            title="Gnostic" 
            description="A Chrome extension and Notion Plugin that generates questions and answers based on notes in Notion. Once installed, a button pops up on that allows you to generate a quiz based on the given notes!"
            imageUrl="https://d112y698adiu2z.cloudfront.net/photos/production/software_thumbnail_photos/002/570/738/datas/medium.png" 
            alignment="right" />
        <app-achievement-card 
            title="PosTrainer" 
            description="A personal coach, detecting reps via a webcam, and providing feedback on posture and other workout best practices. It also scores users based on their quality of workouts."
            imageUrl="https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/002/205/318/datas/gallery.jpg" 
            alignment="right" />
        <app-achievement-card 
            title="MediBase" 
            description="A medication assistant allowing people who have poorer eyesight, who don’t understand English well, or have trouble remembering to take safely take medication."
            imageUrl="https://d112y698adiu2z.cloudfront.net/photos/production/software_thumbnail_photos/001/905/923/datas/medium.png" 
            alignment="right" />
    </div>
</div>

<div id="experiences" class="content-section">
    <div class="section-header">
        <span class="section-title">Experiences</span>
        <span class="section-description">Organizations I've been a part of (or still am at) and stuff I've done in the world!</span>
    </div>
    <div id="experiences" class="list-1-container">
        <app-achievement-card 
            title="Hack the 6ix" 
            description="As part of the organizing team in Toronto's largest hackathon, I've helped find food deals and schedule activities! Hope to see you there in the summer of 2025!"
            imageUrl="/images/ht6-banner.png" 
            alignment="left" />
        <app-achievement-card 
            title="MacLyonsDen" 
            description="A centralized website at WLMAC where all students can easily find information, access class schedules, and form a large community. I am immensely privileged to have been a part of MLD it in its earliest stages, working on the UI and layout. Later on, as its frontend lead, I aided in its migration to a React client."
            imageUrl="https://maclyonsden.com/media/featured_image/357fd3bf65b44ef7a333d78bbb4b1845.png" 
            alignment="left" />
    </div>
</div>

<div id="awards" class="content-section">
    <div class="section-header">
        <span class="section-title">Awards</span>
        <span class="section-description">Some of my Achievements from competitions I've been a part of!</span>
    </div>
    <div id="awards" class="list-1-container">
        <app-achievement-card 
            title="Internation Olympiad in Informatics" 
            description="I was a representative for the Canadian Delegation at the IOI - the most prestigious secondary school competition in algorithmic design and implementations - where I earned an Honourable Mention."
            imageUrl="https://cemc.uwaterloo.ca/sites/default/files/styles/cke_media_resize_medium/public/2024-09/ioi2024.jpeg?itok=G1NWridP" 
            alignment="right" />
        <app-achievement-card 
            title="Canadian Math Olympiad" 
                description="After performing within the 80/6000 on the COMC, I was invited to write the CMO, where I got a 13/35!"
            imageUrl="/images/DanielYe_CMOCertificate.jpg" 
            alignment="right" />
        <app-achievement-card 
            title="Cyberpatriot" 
            description="In a team of 6, we had to perform forensics on an infected system, remove malware, and harden operating systems. Out of over 5000 teams, we finished with the top 20, earning a Platinum Tier Award!"
            imageUrl="https://etowahga958.weebly.com/uploads/1/2/4/6/124669310/cyber_orig.jpg" 
            alignment="right"/>
    </div>
</div>