@use "../utils" as u;

:host {
    background-color: u.$lightblue;
    @include u.column-flex;
    justify-content: stretch;
    #intro{
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @media (min-width: 900px) {
            flex-wrap: nowrap;
        }
        @media (max-width: 900px) {
            flex-wrap: wrap;
        }

        #intro-text {
            flex-basis: 500px;
            @include u.column-flex;
            align-self: center;
            @media (min-width: 900px) {
                margin-left: 4em;
            }
            @media (max-width: 900px) {
                margin-left: 20px;
            }

            #first {
                @include u.bold-text;
                font-size: 3em;
                margin-bottom: -20px;
            }
            .big-text {
                @include u.bold-text;
                font-size: 7em;
            }
            #third {
                @include u.default-text;
                font-size: 2.5em;
            }
        }
        #intro-pic {
            @include u.column-flex;
            align-items: center;
            flex-basis: 400px;
            img {
                width: 400px;
                border-radius: 999px;
            }
            margin-right: 20px;
        }
    }

    .section-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .section-title {
            @include u.bold-text;
            font-size: 3em;
        }
        .section-description{
            @include u.default-text;
            font-size: 1.5em;
        }
        margin-bottom: 3em;
    }
    .content-section {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 7em;
    }
    #about-me {
        display: flex;
        flex-direction: column;
        .section-header {
            margin-bottom: 0;
        }
        #about-me-content {
            .about-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                .about-header-icon {
                    width: 80px;
                    border-right: 5px solid black;
                    border-end-end-radius: 2px;
                    padding-right: 10px;
                }
                .about-header-text {
                    display: flex;
                    flex-direction: column;
                    @include u.default-text;
                    .about-header-title {
                        font-size: 2.5em;
                        margin-bottom: 0;
                    }
                    .about-header-desc {
                        font-size: 1.5em;
                    }
                }
            }

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: space-evenly;
            align-self: center;
            .about-section {
                margin-top: 3em;
                .section-content{
                    @include u.default-text;
                    margin-left: 30px;
                    font-size: 1.5em;
                }
            }
        }
    }
    .list-1-container {
        @include u.column-flex;
        gap: 20px;
        
        @include u.default-text;
    }
    #projects {
        .section-header {
            align-self: flex-end;
            align-items: flex-end;
        }
        .list-1-container {
            align-items: flex-end;
        }
        align-items: stretch;
    }
    #experiences {
        .list-1-container {
            align-items: flex-start;
        }
    }

    #awards{
        .section-header {
            align-self: flex-end;
            align-items: flex-end;
        }
        .list-1-container {
            align-items: flex-end;
        }
    }

    padding-bottom: 2em;
}