canvas{
  align-self: center;
}

body{
  vertical-align: center;
  text-align: center;
  background-image: url("./images/background.jpg");
}

#container{
  align-self: center;
  vertical-align: center;
}

#score{
  margin-bottom: 1%;
  color: white;
}
