#mainCanvas{
	background-color: yellow;
}

.playerset{
	background-color: lightgreen;
	color: blue;
	padding: 10px 10px;
	border-radius: 10px;
}

.playerset:hover {
	background-color: orange;
	color: black;
}

#everything{
	text-align: center;
}

#pause{
	background-color: lightblue;
	color: red;
	padding: 5px 5px;
	border-radius: 10px;
}

#pause:hover{
	background-color: pink;
}

body{
	background-color: red;
	background-image: url("./images/cube.png");
	background-size: 800px 800px;
	background-repeat: no-repeat;
	background-position: center;

	text-align: center;
}

#instructions{
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
}
